a:hover{
	text-decoration: none !important;
}
/*hearder的样式*/
.header{
	height: 165px;
	background-color: #e5ece9;
}
.head{
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #e5ece9;
	padding: 0px 45px;
	z-index: 1;
}
.icon{
	padding-top: 35px;
	cursor: pointer;
	float: left;
}

.header .buy{
	margin-left: 42%;
}
.header .search{
	margin-left: 1%;
}
.header .logo{
	margin-left: 43%;
	padding-top: 20px;
	float: left;
}
.header .logo img{
	width: 45px;
}
@font-face {
	font-family:md;
	src: url(../font/MillerDisplay-Light.otf);
}
@font-face {
	font-family:gt;
	src: url(../font/GT-Walsheim.otf);
}
@font-face {
	font-family:gtl;
	src: url(../font/GT-Walsheim-Light.otf);
}
@font-face {
	font-family:gtm;
	src: url(../font/GT-Medium.otf);
}
.header h1{
	font: 40px md;
	color: #4a5a5c;
	padding-top: 110px;
	text-align: center;
}

/*左边菜单的样式*/
.left,.right{
	width: 40%;
	height: 100vh;
	background-color:#fbfbfb;
	position: fixed;
	left: -40%;
	top: 0;
	transition: 1s;
	z-index: 3;
}
.left>.icon{
	margin-left: 8%;
	
}
.left .top,
.left .bottom{
	width: 83%;
	height: 275px;
	margin: 0 auto;
}
.left .top{
	margin-top: 105px;
}
.left h2,.right h2{
	font: 40px md;
	color: #4a5a5c;
}
.left a{
	width: 43%;
	display: inline-block;
	text-decoration: none;
	color: #aaaaaa;
	margin: 10px 5px 5px 0px;
	padding-left: 22px;
	font: 15px gt;
	border-left: 3px solid #fbfbfb;
}
.left a:nth-of-type(even){
	margin-right: 0px;
}
.left .active,.left a:hover{
	border-left: 3px solid #a1a9aa;
	color: #5d5d5d;
}
.left .search,
.left .account{
	font-size: 20px;
	padding-top: 0px ;
	border-bottom: 1px solid #a1a9aa;
}
.left .search:hover,
.left .account:hover{
	border-left: 3px solid #fbfbfb;
}
.mask{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	background-color: black;
	opacity: 0.3;
	z-index: 2;
}


/*右边登录框的样式*/
.right{
	position: fixed;
	left: 100%;
	top: 0;
}
.right .wrap{
	width: 83%;
	height: 850px;
	margin: 30px auto;
}
.right span{
	display: inline-block;
	font: 14px gtl;
	color: #abb2b3;
	margin-bottom: 55px;
}
.right .icon{
	float: right;
	padding-top: 4px;
}
.right .cart{
	margin-right: 15px;
}
.right .myBag{
	width:100% ;
	height: 300px;
	margin-top: 50px;
}
.myBag img{
	float: left;

}
.myBag h3{
	font: 20px gt;
	margin:0px 0px 15px 35px;
	color:#5d5d5d;
}

.myBag p{
	font: 15px gt;
	color:#5d5d5d ;
}

.right a{
	font: 20px gt;
	color:#aaaaaa;
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
}

.right a:hover{
	color:#5d5d5d ;
}
.right hr{
	margin-bottom: 30px;
}

/*中间的搜索栏*/
.middle{
	width: 100%;
	height: 230px;
	background-color:white;
	position: absolute;
	top: 105px;
	left: 0px;
	display: none;
	z-index:2;
}
.middle .top{
	width: 57%;
	height: 60px;
	background-color: #e5ece9;
	padding-left: 43%;
}
.middle img{
	margin: -20px 10px 0;
}
.middle input{
	border: none;
	height: 58px;
	background-color:#e5ece9;
	outline: none;
	font: 40px md;
	color: #4a5a5c;
}
.middle ul li{
	text-align: center;
}
.middle ul a{
	font: 15px gtl;
	color: #aaa;
	text-decoration: none;
}
.middle ul li:nth-of-type(1) a{
	display: block;
	color:#5d5d5d;
	margin-top: 35px;
}
.middle ul li:nth-last-of-type(1){
	display: block;
	color:#5d5d5d;
	margin-top: 13px;
	font: 18px gt;
	letter-spacing: 1px;
}
.middle ul li:hover{
	color:#5d5d5d;
}

/*content的样式*/
.content{
	width: 100%;
	height: 870px;
}
.content h2{
	font: 17px/65px gt;
	color: #4a5a5c;
	text-align: center;
}

.content .wrap{
	width: 93%;
	height: 748px;
	border-top: 2px solid #a5adae;
	margin: 0px auto;
}
.wrap .syd:nth-of-type(odd){
	margin-right: 90px;
}
.wrap .syd{
	width: 46%;
	height: 278px;
	border-bottom: 1px solid #a5adae;
	padding-top: 27px;
	float: left;
}

.wrap .syd img{
	width: 200px;
	height: 240px;
	float: left;
}

.syd .info{
	width: 313px;
	border-left: 3px solid #a5adae;
	padding-left: 10px;
	float: left;
	margin-left: 28px;
}
.syd .info h3{
	font: 18px gt;
	color: #4a5a5c;
}
.syd .info p{
	font: 12px gtl;
	color: #a5adae;
}
.syd .massl{
	float: left;
	margin: 35px 70px 30px 32px;
}
.massl span,.massl p{
	cursor: pointer;
}
.syd h4{
	font: 14px gt;
	color: #4a5a5c;
	margin-bottom: 6px;
}

.syd span,.syd p,.syd a{
	color: #4a5a5c;
	font: 12px gtl;
}

.syd a{
	text-decoration: none;
}
.syd .massr{
	margin-top:75px;
}
.syd>p{
	color: #adb4b5;
	margin: 35px 0 0 230px;
}
.syd:nth-of-type(1)>p{
	color: #adb4b5;
	margin: 53px 0 0 230px;
}
.wrap .botl,.botr{
	width: 46%;
	height: 137px;
	border-bottom: 1px solid #a5adae;
	float: left;
}
.wrap .botl{
	margin-right: 90px;
}
.botl h5,.botr h5{
	padding-top: 100px;
	font: 18px gt;
	color: #a5adae;
	cursor: pointer;
}
.wrap h5:hover{
	color: #c6d1d2;
}

/*footer的样式*/
.footer{
	width: 100%;
	height: 140px;
	background-color: #e5ece9;
}
.ja,.logotype,.mfl{
	width: 30%;
	height: 80px;
	float: left;
}
.ja{
	margin:20px 0px 0px 45px;
	border-left: 4px solid #98a3a3;
	padding-left: 16px;
}
.ja i,.ja a,.mfl p,.mfl a{
	text-decoration: none;
	color: #717e80;
	font: 12px gtl;

}
.footer a:hover{
	color: #9da9a8;
}
.logotype{
	width:263px;
	margin-top: 30px;
	padding-left: 11%;
}
.mfl{
	margin:20px 30px 0px 0px;
	border-right: 4px solid #98a3a3;
	padding-right: 16px;
}
.mfl li{
	float: right;
	margin-right: 15px;
	cursor: pointer;
}
.mfl p{
	padding-left: 120px;
	margin-bottom: 5px;
}
.mfl a{
	text-decoration: underline;
}
.mfl h5{
	padding-left:300px;
	margin-bottom: 10px;
}
.footer h5{
	color: #4a5a5c;
	font: 14px gt;
	margin: 0px;
}
